.album-profile__wrapper {
  padding: 50px 15px;
  display: grid;
  gap: 30px;
  @media (width > 640px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;
    align-items: start;
  }
}
.album-profile__tracks {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
