<div class="album-profile__wrapper">
  @if (albumStore.isLoading()) {
    <p class="album-profile__loading">Album is loading...</p>
  }
  @if (albumStore.error()) {
    <div class="album-profile__error">Album is not found...</div>
  }
  @if (albumStore.currentAlbum(); as album) {
    <div class="album-profile__info">
      <app-album-card [album]="album" [isLink]="false"></app-album-card>
    </div>
    <div class="album-profile__tracks">
      <div class="album-controls">
        <app-button (click)="playFullAlbum()" variant="default">Play All</app-button>
      </div>
      @for (item of album.tracks; track item.id) {
        <app-track-card
          [track]="item"
          [showWave]="false"
          [playlistContext]="album.tracks"
        ></app-track-card>
      }
    </div>
  }
</div>
<app-scroll-to-top></app-scroll-to-top>
