@use 'tailwindcss';
// @import './styles/tailwind-theme.css';

$header-width: 1800px;

@layer base {
  html {
    scrollbar-gutter: stable;
  }
}

:root {
  --bg-primary: rgb(251, 244, 245);
}

.dark {
  --bg-primary: rgb(3, 3, 89);
}
