@use 'sass:map';
@use 'styles/mixins' as m;
@use 'tailwindcss';
@include m.generate-theme-variables;

$header-width: 1800px;

@layer base {
  html {
    scrollbar-gutter: stable;
  }
}

@include m.generate-theme-variables;

main {
  z-index: 0;
}
app-header {
  z-index: 99;
}
