ENVIRONMENT=development

DB_USERNAME=admin
DB_PASSWORD=password
DB_DATABASE=database
DB_PORT=5430

POSTGRES_HOST=localhost
POSTGRES_PORT=${DB_PORT}
POSTGRES_DB=${DB_DATABASE}
POSTGRES_USER=${DB_USERNAME}
POSTGRES_PASSWORD=${DB_PASSWORD}

JWT_SECRET=long_secret_jwt_secret_for_secret
JWT_EXPIRES_IN=15m