<div class="py-4 lg:px-4">
  <h2 class="mb-4 text-2xl font-bold">{{ provider.listTitle() }}</h2>

  @if (provider.isLoading()) {
    <p class="text-accent animate-pulse">Loading tracks...</p>
  }

  @if (provider.error()) {
    <p class="text-red-500">{{ provider.error() }}</p>
  }

  <ul class="m-0 flex list-none flex-col justify-center gap-3 p-0" #listContainer>
    @for (track of provider.tracks(); track track.id) {
      @defer (on viewport) {
        <li class="block w-full" #item [attr.data-track-id]="track.id">
          <app-track-card
            [track]="track"
            [showWave]="showWave()"
            [playlistContext]="provider.tracks()"
          />
        </li>
      } @placeholder (minimum 500ms) {
        <div
          class="bg-accent box-border h-12 w-full rounded-lg border border-slate-900 px-4 py-3 shadow-md"
        >
          Loading...
        </div>
      }
    } @empty {
      <div
        class="bg-accent box-border h-12 w-full rounded-lg border border-slate-900 px-4 py-3 shadow-md"
      >
        No tracks found...
      </div>
    }
  </ul>
</div>
