<div class="artist-profile__wrapper">
  <div class="artist-profile__info">
    @if (artistStore.isLoading()) {
      <p class="artist-profile__loading">Profile is loading...</p>
    }
    @if (artistStore.error()) {
      <p class="artist-profile__loading">{{ artistStore.error() }}</p>
    }
    @if (artistStore.currentArtist(); as artist) {
      <app-artist-card [artist]="artist" [isLink]="false"></app-artist-card>
    }
    <app-albums-list [artistId]="artistId()"></app-albums-list>
  </div>
  <div class="artist-profile__track">There will be tracks</div>
</div>
