<div class="artist-profile__wrapper">
  <div class="artist-profile__info">
    @if (artistStore.isLoading()) {
      <p class="artist-profile__loading">Profile is loading...</p>
    }
    @if (artistStore.error()) {
      <p class="artist-profile__loading">Oops! Artist not found.</p>
    }
    @if (artistStore.currentArtist(); as artist) {
      <app-artist-card [artist]="artist" [isLink]="false"></app-artist-card>
    }
    <app-albums-list [albums]="artistStore.albums()"></app-albums-list>
  </div>
  <div class="artist-profile__track">
    @for (item of artistStore.tracks(); track $index) {
      <app-track-card
        [track]="item"
        [showWave]="false"
        [playlistContext]="artistStore.tracks()"
      ></app-track-card>
    }
    @if (artistStore.currentArtist() && artistStore.hasMoreTracks()) {
      <div class="artist-profile__action">
        <app-button (click)="onLoadMore()">Load more</app-button>
      </div>
    }
  </div>
</div>
<app-scroll-to-top></app-scroll-to-top>
