.artist-profile__wrapper {
  padding: 50px 15px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  // max-width: 400px;
  // margin: 0 auto;
}
.artist-profile__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 0;
}
