.artist-profile__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  @media (width < 798px) {
    grid-template-columns: 1fr;
  }
}
.artist-profile__loading {
  font-size: 36px;
  font-weight: 600;
}
.artist-profile__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 0;
}
.artist-profile__track {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.artist-profile__action {
  margin-top: 10px;
  text-align: center;
}
.scroll-to-top-wrapper {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  z-index: 50;
}
