<div class="playlists-form__wrapper">
  <div class="playlists-form__header">
    <h3 class="playlists-form__title">Create List</h3>
    <app-button type="button" size="icon-rounded-md" (click)="closeForm()" aria-label="Close form">
      <app-icon icon="x"></app-icon>
    </app-button>
  </div>
  <form [formGroup]="playlistForm" class="playlists-form" (ngSubmit)="onSubmit()">
    <div class="playlists-form__line">
      <label for="title" class="playlists-form__label">List title</label>
      <input
        type="text"
        placeholder="List title..."
        formControlName="title"
        id="title"
        [class.error]="playlistForm.controls.title.invalid && playlistForm.controls.title.touched"
        aria-describedby="title-error"
      />
      @if (playlistForm.controls.title.invalid && playlistForm.controls.title.touched) {
        <div class="playlists-form__error" id="title-error">Title is required</div>
      }
    </div>
    <div class="playlists-form__line">
      <label for="descr" class="playlists-form__label">Description</label>
      <textarea
        placeholder="List description..."
        formControlName="description"
        id="descr"
      ></textarea>
    </div>
    <div class="playlists-form__line">
      <label for="trackSelect" class="playlists-form__label">Choose track</label>
      @defer (when tracksStore.tracks().length>0) {
        <div class="playlists-form__select-group">
          <select #trackSelect id="trackSelect" class="playlists-form__list">
            @for (track of tracksStore.tracks(); track track.id) {
              <option [value]="track.id" class="playlists-form__list-item">
                {{ track.title }} - {{ track.artist.name }}
              </option>
            }
          </select>
          <app-button type="button" size="sm" (click)="onAddTrack(trackSelect.value)"
            >Add track</app-button
          >
        </div>
      } @placeholder (minimum 500ms) {
        <div class="playlists-form__select-group">
          <select class="playlists-form__list"></select>
          <app-button size="sm" [disabled]="true">Loading...</app-button>
        </div>
      }
    </div>
    <div class="playlists-form__tracks-list">
      @for (track of selectedTracks(); track track.id) {
        <div class="playlists-form__track-chip">
          {{ track.title }} - {{ track.artist.name }}
          <app-button
            type="button"
            size="icon-rounded-sm"
            (click)="removeTrack(track.id)"
            aria-label="Remove track {{ track.title }}"
            ><app-icon icon="x"></app-icon
          ></app-button>
        </div>
      }
    </div>
    <div class="playlists-form__line">
      <app-button type="button" (click)="closeForm()">Cancel</app-button>
      <app-button type="submit" [disabled]="!playlistForm.valid || selectedTracks().length === 0"
        >Create list</app-button
      >
    </div>
  </form>
</div>
