<article class="track-card" [class.is-playing]="isPlayingTrack()">
  <div class="track-card__cover-wrapper">
    <img class="track-card__cover-img" [src]="track().coverUrl" [alt]="track().title" />
    <button
      class="track-card__play-btn"
      [class.is-playing-now]="isPlayingTrack()"
      [aria-label]="isPlaying() && isCurrentTrack() ? 'Pause' : 'Play'"
      (click)="play(track())"
    >
      @if (isPlaying() && isCurrentTrack()) {
        <svg xmlns="w3.org" class="text-accent h-10 w-10 fill-current" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M6 19h4V5H6v14zm8-14v14h4V5h-4z" clip-rule="evenodd" />
        </svg>
      } @else {
        <svg xmlns="w3.org" class="ml-0.5 h-10 w-10 fill-current text-white" viewBox="0 0 24 24">
          <path d="M8 5v14l11-7z" />
        </svg>
      }
    </button>
  </div>

  <div class="track-card__info">
    <h3 class="track-card__title">
      {{ track().title }}
    </h3>
    <a [routerLink]="['/artists', track().artist.id]" class="track-card__meta">
      {{ track().artist.name }}
    </a>
    @if (track().album.name) {
      <p class="track-card__meta">
        <span class="track-card__divider">•</span>
        <a [routerLink]="['/albums', track().album.id]" style="font-size: 0.75rem">
          {{ track().album.name }}
        </a>
      </p>
    }
  </div>

  <div class="flex h-8 min-w-0 flex-auto items-center rounded px-3">
    <app-track-waveform
      [isActive]="isCurrentTrack()"
      [progress]="progress()"
      [peaks]="track().waveform"
    >
    </app-track-waveform>
  </div>

  <div class="flex flex-none items-center gap-4">
    <span class="font-mono text-xs text-gray-500">
      {{ track().playCount | compactNumberPipe }} plays
    </span>

    <span class="mr-2 font-mono text-xs text-gray-400">
      {{ track().duration | duration }}
    </span>

    <div class="flex items-center gap-2">
      <ng-content></ng-content>
    </div>
  </div>
</article>
