<nav class="nav-container">
  <ul class="nav-links-desktop">
    @for (route of pathCollection(); track route.path) {
      <li>
        <a [routerLink]="['/', route.path]" class="nav-link" routerLinkActive="active">
          <span class="link-text">{{ route.title }}</span>
        </a>
      </li>
    }
  </ul>

  <div class="nav-menu-mobile">
    <app-dropdown #navigationBar>
      <app-button
        variant="outline"
        size="icon-cubic-md"
        trigger
        #trigger
        [aria-label]="navigationBar.isOpen() ? 'Close menu' : 'Open menu'"
      >
        <app-icon icon="menu" />
      </app-button>

      <ng-template #item>
        <div class="mobile-menu-list">
          @for (route of pathCollection(); track route.path) {
            <a
              [routerLink]="[route.path]"
              class="dropdown-link"
              routerLinkActive="active"
              [appDropdownClose]="navigationBar"
            >
              {{ route.title }}
            </a>
          }
        </div>
      </ng-template>
    </app-dropdown>
  </div>
</nav>
