.not-found__wrapper {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.not-found__btn {
  width: 300px;
}
.not-found__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
