<ul
  class="grid grid-cols-[repeat(auto-fit,minmax(250px,300px))] justify-center gap-[1em] md:gap-[1.5em]"
  aria-label="Artists"
>
  @if (store.isLoading()) {
    <p>Artists are loading...</p>
  }
  @if (store.error()) {
    <p>{{ store.error() }}</p>
  }
  @for (item of store.items(); track item.id) {
    @defer (on viewport) {
      <li>
        <app-artist-card [artist]="item"></app-artist-card>
      </li>
    } @placeholder (minimum 500ms) {
      <li
        class="bg-accent block h-80 w-full animate-pulse overflow-hidden rounded-lg shadow-lg"
      ></li>
    }
  }
</ul>
