:host {
  display: block;
}
swiper-container {
  display: block;
  width: 100%;
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-bullet-inactive-color: var(--color-btn-default-border-hover);
}
swiper-container::part(bullet) {
  background: var(--color-text-on-bg) !important;
  opacity: 0.5 !important;
}
swiper-container::part(bullet-active) {
  background: var(--color-brand-active) !important;
  opacity: 1 !important;
}
swiper-slide {
  // margin-bottom: 40px;
  padding-bottom: 8px;
  height: auto;
}
swiper-container::part(pagination) {
  position: relative;
  margin-top: 10px;
}
