<section class="explore">
  <nav class="explore_nav" aria-label="Music tabs">
    <ul class="explore_list">
      @for (tab of discoverTabs; track tab.title) {
        <li class="explore_list__item">
          <a
            routerLink="{{ tab.path }}"
            routerLinkActive="active-tab"
            class="explore__link"
            ariaCurrentWhenActive="page"
            >{{ responsiveService.isSmall() && tab.shortTitle ? tab.shortTitle : tab.title }}</a
          >
        </li>
      }
    </ul>
  </nav>
  <div class="explore__tabs-wrapper">
    @if (activeRouteTitle()) {
      <h2 class="mb-4 text-2xl font-bold capitalize">{{ activeRouteTitle() }}</h2>
    }
    <router-outlet />
  </div>
</section>
