.playlist-info-header {
  display: flex;
  //flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.header-info {
  display: flex;
  gap: 1rem;
}

.header-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}
