:host {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

:host > * {
  width: 100%;
}

.layout-toolbar--sticky {
  position: sticky;
  top: var(--header-height);
  z-index: 95 !important;
  isolation: isolate;
  background: var(--color-bg-accent);
  color: var(--color-text-on-bg);
  border-top: 2px solid var(--color-bg-surface);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

// временные стили
.breadcrumbs {
  padding: 10px 40px 10px 38px;
  font-size: 0.95rem;
  border: 1px solid transparent;
}

@media (min-width: 768px) {
  .layout-toolbar--sticky {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
