:host {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--color-bg);
}

:host > * {
  width: 100%;
}
.layout-toolbar {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 0.9375rem;
}

:host.player-is-open {
  padding-bottom: 144px;
}

@media (width < 1024px) {
  :host.player-is-open {
    padding-bottom: 128px;
  }
}

@media (width < 768px) {
  :host.player-is-open {
    padding-bottom: 112px;
  }
}

@media (width < 447px) {
  :host.player-is-open {
    padding-bottom: 104px;
  }
}
