.input-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  margin-bottom: 3rem;
  width: 100%;
}

.input-label {
  font-weight: 600;
}

.input {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  font-size: 0.875rem;
}

.input-icon {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.error-msg {
  display: block;
  font-size: 0.8rem;
  color: var(--color-text-danger);
  position: absolute;
  left: 0.5rem;
  bottom: 1.5rem;
  word-break: break-word;
  overflow-wrap: anywhere;
}
