<header>
  <div class="header-container">
    <a class="logo-container" routerLink="/discover/popular">
      <picture>
        <source media="(min-width: 1024px)" srcset="logo-large.svg" />
        <img src="logo.svg" alt="application logo" />
      </picture>
    </a>

    <div class="header-container__actions">
      <app-navigation-bar [pathCollection]="navItems()" />
      <div class="button-wrapper">
        @if (isNotSynced()) {
          <div class="avatar-badge">
            <app-icon icon="warning" primaryColor="white" />
          </div>
        }
        <app-dropdown #userMenu alignment="right" class="register-button">
          <app-button
            trigger
            #trigger
            [size]="!user() ? 'sm' : 'avatar'"
            (click)="handleAuthButtonClick($event)"
          >
            @if (!user()) {
              Sign Up
              <app-icon
                icon="logIn"
                variant="fill"
                style="font-size: 1.2rem"
                primaryColor="var(--color-btn-default-border)"
                fillColor="white"
              />
            } @else {
              <div class="avatar-wrapper">
                @if (user()?.userInformation?.avatar) {
                  <img [src]="user()?.userInformation?.avatar" alt="avatar" class="avatar" />
                } @else {
                  <div
                    class="avatar-placeholder"
                    role="img"
                    [attr.aria-label]="user()?.username + ' profile placeholder'"
                  >
                    <span class="avatar-text" aria-hidden="true">
                      {{ user()?.username?.[0] }}
                    </span>
                  </div>
                }
              </div>
            }
          </app-button>

          @if (isNotSynced()) {
            <ng-template #item>
              <a
                class="warning user-menu-item"
                appAutofocus
                [appDropdownClose]="userMenu"
                role="menuitem"
                routerLink="/auth/jamendo"
              >
                <app-icon
                  icon="waveForm"
                  variant="fill"
                  style="font-size: 1.5rem"
                  primaryColor="var(--color-btn-default-border)"
                  fillColor="white"
                />
                Connect Jamendo
              </a>
            </ng-template>
          }

          @if (!isNotSynced()) {
            <ng-template #item>
              <a
                class="user-menu-item"
                [appDropdownClose]="userMenu"
                role="menuitem"
                routerLink="/library"
              >
                <app-icon
                  icon="waveForm"
                  variant="fill"
                  style="font-size: 1.5rem"
                  primaryColor="var(--color-btn-default-border)"
                  fillColor="white"
                />
                Your Library
              </a>
            </ng-template>
          }
          <ng-template #item>
            <a class="user-menu-item" appAutofocus [appDropdownClose]="userMenu" role="menuitem">
              <app-icon
                icon="user"
                variant="fill"
                style="font-size: 1.5rem"
                primaryColor="var(--color-btn-default-border)"
                fillColor="white"
              />
              Profile
            </a>
          </ng-template>

          <ng-template #item>
            <a
              class="user-menu-item"
              [appDropdownClose]="userMenu"
              role="menuitem"
              routerLink="/auth/change-password"
            >
              <app-icon
                icon="keySquare"
                variant="fill"
                style="font-size: 1.5rem"
                primaryColor="var(--color-btn-default-border)"
                fillColor="white"
              />
              Change Password
            </a>
          </ng-template>

          <ng-template #item>
            <button class="user-menu-item" [appDropdownClose]="userMenu" (click)="signOut()">
              <app-icon
                icon="logOut"
                variant="fill"
                style="font-size: 1.5rem"
                primaryColor="var(--color-btn-default-border)"
                fillColor="white"
              />
              Logout
            </button>
          </ng-template>
        </app-dropdown>
      </div>

      <div class="search-icon-container">
        <app-button
          variant="ghost"
          size="icon-cubic-md"
          (click)="searchService.toggleSearchBar()"
          [active]="showSearchBar()"
        >
          <app-icon
            icon="search"
            [variant]="showSearchBar() ? 'fill' : 'outline'"
            fillColor="var(--purple-gradient-bg)"
            [primaryColor]="showSearchBar() ? 'var(--purple-mask)' : 'var(--color-text-muted)'"
          />
        </app-button>
      </div>
      <app-theme-toggler
        [currentTheme]="themeStore.theme()"
        (themeChanged)="themeStore.setTheme($event)"
      />
    </div>
  </div>
</header>
