<div class="relative inline-block md:block">
  <ng-content select="[trigger]" active="isOpen()"></ng-content>

  @if (isOpen()) {
    <div
      class="fixed inset-0 z-100! bg-accent p-6 shadow-md md:absolute md:top-full md:bg-transparent md:p-0 md:shadow-none"
      [class]="alignment() === 'left' ? 'left-0 md:right-auto' : 'right-0 md:left-auto'"
    >
      <button
        (click)="isOpen.set(false)"
        class="absolute top-4 block rounded-lg p-2 text-shadow-orange-700! hover:bg-neutral-200/50 md:hidden"
        [class]="alignment() === 'left' ? 'left-4' : 'right-4'"
      >
        <svg lucideIcon="x" class="h-6 w-6"></svg>
      </button>

      <ul
        class="mt-12 flex flex-col gap-4 bg-accent md:mt-0 md:w-fit md:gap-1 md:rounded-md md:border md:border-neutral-200 md:p-1 md:shadow-md"
      >
        @for (dropdownItem of dropdownItems(); track $index) {
          <li
            class="flex shrink-0 cursor-pointer justify-center bg-emerald-100 text-left align-middle text-accent hover:bg-emerald-200 md:justify-start"
          >
            <ng-template *ngTemplateOutlet="dropdownItem" />
          </li>
        }
      </ul>
    </div>
  }
</div>
