<div class="dropdown-container" [class.expandable]="expandable()">
  <ng-content select="[trigger]" active="isOpen()" />

  @if (isOpen()) {
    <div class="dropdown-panel" [class.align-right]="alignment() === 'right'">
      <app-button
        variant="ghost"
        size="icon-rounded-sm"
        (click)="isOpen.set(false)"
        class="close-btn"
      >
        <app-icon icon="x" />
      </app-button>

      <ul class="dropdown-list">
        @for (dropdownItem of dropdownItems(); track $index) {
          <li class="dropdown-item">
            <ng-template *ngTemplateOutlet="dropdownItem" />
          </li>
        }
      </ul>
    </div>
  }
</div>
