.auth-page-layout {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  width: 100%;
}

.auth-page-container {
  width: clamp(340px, 90%, 640px);
  border-radius: 1.5rem;
  overflow: hidden;

  border: 1px solid rgba(0, 0, 0, 0.08);

  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 10px 15px -3px rgba(0, 0, 0, 0.08),
    0 20px 25px -5px rgba(0, 0, 0, 0.04);
}
