.playlists {
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 15px;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
    height: calc(100vh - 175px);
    @media (width < 768px) {
      grid-template-columns: 1fr;
      height: auto;
      padding: 35px 15px;
    }
  }

  &__aside {
    border-right: 1px solid var(--color-bg-accent);
    padding-right: 20px;
    overflow-y: auto;
    height: 100%;
    @media (width < 768px) {
      height: auto;
      border-right: none;
      padding-right: 0px;
      overflow-y: visible;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 24px;
  }

  &__content {
    overflow-y: auto;
    height: 100%;
    @media (width < 768px) {
      height: auto;
      overflow-y: visible;
    }
  }
  &__create-btn {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    span {
      color: var(--color-brand-active);
      cursor: pointer;
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
