$themes: (
  light: (
    bg: #f7f2f2,
    text-on-bg: #1a1a1a,
    bg-accent: #c9c9ef,
    bg-surface: #f5f5f5,
    text-accent: #f42a31,
    text-muted: #666666,
    brand-active: #5c5cd6,
    text-danger: #af2126,
    border-danger: #6b1618,

    //----Buttons-----
    //----Default-----
    btn-default-bg: rgb(14, 83, 64),
    btn-default-bg-hover: rgb(32, 145, 114),
    btn-default-border: rgb(18, 90, 70),
    btn-default-border-hover: rgb(24, 118, 92),
    btn-default-text: rgb(255, 255, 255),
    //----Ghost-----
    btn-ghost-bg: rgb(230, 230, 230),
    btn-ghost-text: rgb(17, 68, 52),
    //----Danger----
    btn-danger-bg: rgb(155, 28, 28),
    btn-danger-bg-hover: rgb(210, 30, 30),
    btn-danger-border: rgb(110, 15, 15),
    btn-danger-border-hover: rgb(155, 28, 28),
    //----Logo----
    bg-logo: rgba(59, 99, 87, 0.1),
    bg-logo-hover: rgba(59, 99, 87, 0.25),
    //----dropdown----
    bg-dropdown-item-hover: rgba(20, 20, 20, 0.2),
    bg-dropdown-item-active: rgba(20, 20, 20, 0.35),
  ),
  dark: (
    bg: #012024,
    text-on-bg: #f7f2f2,
    bg-accent: #033a41,
    bg-surface: #022327,
    text-accent: #f42a31,
    text-muted: #8b9fa1,
    brand-active: #04d7b1,
    text-danger: #af2126,
    border-danger: #6b1618,

    //----Buttons-----
    //----Default-----
    btn-default-bg: rgb(22, 90, 75),
    btn-default-bg-hover: rgb(30, 120, 100),
    btn-default-border: rgb(40, 150, 120),
    btn-default-border-hover: rgb(58, 185, 145),
    btn-default-text: rgb(240, 245, 245),
    //----Ghost-----
    btn-ghost-bg: rgba(255, 255, 255, 0.1),
    btn-ghost-text: rgb(70, 210, 175),
    //----Danger----
    btn-danger-bg: rgb(135, 22, 22),
    btn-danger-bg-hover: rgb(215, 35, 35),
    btn-danger-border: rgb(165, 35, 35),
    btn-danger-border-hover: rgb(240, 50, 50),
    //----Logo----
    bg-logo-hover: rgba(255, 255, 255, 0.15),
    //----dropdown----
    bg-dropdown-item-hover: rgba(240, 240, 240, 0.2),
    bg-dropdown-item-active: rgba(240, 240, 240, 0.35),
  ),
);
