.scroll-to-top-wrapper {
  position: fixed;
  bottom: 10.5rem;
  right: 2rem;
  z-index: 50;
}
@media (width < 768px) {
  .scroll-to-top-wrapper {
    bottom: 12rem;
  }
}
@media (width < 432px) {
  .scroll-to-top-wrapper {
    bottom: 15rem;
  }
}
